<div class="container" >
<div class="row " id="header">
    <div class="col-2">
      <img src="../../assets/img/logo_Esc.png" style="width: 100px" alt="">
    </div>
    <div class="col-8">
        <nav class="navbar navbar-expand-sm text-body-light">

            <div class="container-fluid ">
             
              <ul class="navbar-nav">
                <li class="nav-item">
                  <button routerLink="inicio" type="button">Inicio</button>
                </li>
                <li class="nav-item">
                  <button routerLink="instituto" type="button">Institucional</button>
                </li>
                <li class="nav-item">
                  <button routerLink="inscripcion" type="button">Inscripción a mesas</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" href="#" type="button">Equipo de Desarrollo</button>
                  </li>
                  <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="barra">
                      Carreras
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" routerLink="carrera" id="barra">Mostrar</a></li>
                      <li><a class="dropdown-item" routerLink="carrerapost" id="barra">Cargar</a></li>
  
                    </ul>
                    <li class="nav-item dropdown ">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="barra">
                        Estudiantes
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="getest" id="barra">Mostrar</a></li>
                        <li><a class="dropdown-item" routerLink="postest" id="barra">Cargar</a></li>
                      </ul>

                  </li>  
              </ul>
            </div>
          
          </nav>

    </div>
    <div class="col-2 ">
        <a routerLink="login" class="btn btn-info  btn-lg"  role="button" style="--bs-btn-opacity: .7;" id="link">Link</a>
    </div>

</div>

</div>

<!-- <button routerLink="carrera" type="button">Carreras</button> -->