<p>login works!</p>

<div class="container color">
   <div class="row">
     Iniciar sesión
      <img src="../../assets/img/acceso_usuario.png" alt="" class="rounded mx-auto d-block"  style="width: 18rem;">
   </div>
   <div class="row dos">
    <form>
        <div class="form-floating mb-3" >
            <input class="form-control" type="text" id="fname" name="fname">
            <label for="floatingInput">Nombre de usuario:</label>
        
        </div>
        <div class="form-floating mb-3" >
            <input class="form-control" type="password" id="lname" name="lname">
            <label  for="floatingInput">Contraseña:</label>
        </div>
       
      </form>
   </div>
   

</div>