
<h5>Insertar estudiantes</h5>

<form >
    <div class="mb-3">
       <input class="form-control" [(ngModel)]="estudiantes.nombre" type="text" name="" id="" placeholder="Inserte nombre"> 
    </div>
    
    <div class="mb-3">
        <input class="form-control" [(ngModel)]="estudiantes.apellido" type="text" name="" id="" placeholder="Inserte apellido"> 
     </div>
    
     <div class="mb-3">
        <input class="form-control" [(ngModel)]="estudiantes.dni" type="number" name="" id="" placeholder="Inserte DNI"> 
     </div>
   
     <div class="mb-3">
        <input class="form-control" [(ngModel)]="estudiantes.telefono" type="number" name="" id="" placeholder="Inserte teléfono"> 
     </div>
     <div class="mb-3">
      <input class="form-control" [(ngModel)]="estudiantes.email" type="text" name="" id="" placeholder="Inserte E-mail"> 
     </div>
    
     <div class="mb-3">
       <button (click)="crearEstudiantes()" type="submit" class="btn btn-primary">Cargar datos</button> 
        <button routerLink="/getest" class="btn btn-danger">Cancelar</button> 
     </div>
         
   
</form>