INICIO
<div class="container ">
   <div class="row">
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/img/carrousel1.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/carrousel2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/carrousel3.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> 

   </div>
   <div class="row mx-auto p-4">
       <div class="col">
        <div class="card" style="width: 18rem;">
  <img src="../../assets/img/esc1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Profesorado de Educación Primaria</h5>
    <p class="card-text">El profesorado de educación primaria se compone de profesionales dedicados a la enseñanza y formación de niños en las etapas iniciales de su educación formal. Estos docentes desempeñan un papel fundamental en el desarrollo académico, emocional y social de los estudiantes. Su labor incluye la planificación y ejecución de lecciones que abarcan una variedad de materias, como matemáticas, ciencias, lengua, historia y educación física. Además, fomentan el desarrollo de habilidades sociales, la creatividad y el pensamiento crítico.</p>
  </div>
</div>
       </div>
       <div class="col">
        <div class="card" style="width: 18rem;">
  <img src="../../assets/img/esc2.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Tecnicatura Superior en Análisis y Desarrollo de Software</h5>
    <p class="card-text">La Tecnicatura Superior en Análisis y Desarrollo de Software se dedica a formar profesionales altamente capacitados en el campo de la informática y la programación de software. Estos profesionales son esenciales en la industria de la tecnología de la información y desempeñan un papel crucial en el diseño, desarrollo y mantenimiento de aplicaciones y sistemas informáticos.</p>
    
  </div>
</div>
       </div>
       <div class="col">
        <div class="card" style="width: 18rem;">
  <img src="../../assets/img/esc3.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Profesorado de Educación Secundaria en Matemática</h5>
    <p class="card-text">El profesorado de Educación Secundaria en Matemática se dedica a la formación de docentes especializados en la enseñanza de las matemáticas en el nivel secundario. Estos profesionales desempeñan un papel crucial en la educación, ya que las matemáticas son una materia fundamental en el currículo escolar y contribuyen al desarrollo de habilidades cognitivas, lógicas y analíticas en los estudiantes.</p>
    
  </div>
</div>
       </div>
   </div>
   <div class="row mx-auto p-4">
      <div class="col">
        <div class="card" style="width: 18rem;">
  <img src="../../assets/img/esc4.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Tecnicatura Superior en Enfermería</h5>
    <p class="card-text">La Tecnicatura Superior en Enfermería es un programa educativo que forma a profesionales de la salud altamente capacitados en el cuidado de pacientes y la prestación de servicios de enfermería. Estos profesionales desempeñan un papel fundamental en la atención médica, trabajando en estrecha colaboración con médicos y otros miembros del equipo de salud para brindar cuidados de calidad y promover la salud y el bienestar de los pacientes.</p>
  </div>
</div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
  <img src="../../assets/img/esc5.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Profesorado de Educación Secundaria en Lengua y Literatura</h5>
    <p class="card-text">El Profesorado de Educación Secundaria en Lengua y Literatura se enfoca en la formación de docentes especializados en la enseñanza del lenguaje y la literatura en el nivel secundario. Estos profesionales desempeñan un rol fundamental en la educación, ya que el lenguaje es la base de la comunicación y la literatura es una expresión artística y cultural importante.

    </p>
  </div>
</div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
  <img src="../../assets/img/esc6.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Profesorado de Educación Secundaria en Historia</h5>
    <p class="card-text">El Profesorado de Educación Secundaria en Historia se dedica a la formación de docentes especializados en la enseñanza de la historia en el nivel secundario. Estos profesionales desempeñan un papel esencial en la educación, ya que la historia es una disciplina fundamental para comprender el pasado, el presente y las dinámicas sociopolíticas y culturales que han dado forma al mundo.</p>
    
  </div>
</div>
      </div>
   </div>

</div>